<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AP-5 Project</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body class="flex flex-col min-h-screen bg-gray-900 text-gray-100 font-sans">
<header class="bg-gray-800 text-white p-4">
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold">AP-5 Project</h1>
    </div>
</header>

<main class="flex-grow container mx-auto mt-8 p-4">
    <section class="bg-gray-800 rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-semibold mb-4 text-blue-400">Welcome! 👋</h2>
        <p class="text-gray-300 mb-4">✨ Amazon Connect Contact Control Panel will open in a new tab in your browser</p>
<!--        <p class="text-gray-300 mb-4">https://ap-52.my.connect.aws/home</p>-->
        <p class="text-gray-300 mb-4">
            🔗
            <a href="https://ap-52.my.connect.aws/home" class="text-blue-500 underline">
                AWS Connect Admin Workspace
            </a>
        </p>
    </section>

    <section class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Amazon Connect CCP -->
        <div class="bg-gray-800 rounded-lg shadow-lg p-6">
            <h3 class="text-xl font-semibold mb-2 text-blue-400">Amazon Connect CCP initialization</h3>
            <div id="containerDiv" style="width: 100%; height: 500px;"></div>
        </div>
    </section>
</main>

<!-- Amazon Connect Streams and ChatJS Libraries -->
<script src="https://amazon-connect.github.io/amazon-connect-streams/release/connect-streams.js"></script>
<script src="https://unpkg.com/amazon-connect-chatjs@1.5.1"></script>

<script type="text/javascript">
    (function(w, d, x, id){
        s=d.createElement('script');
        s.src='https://d1ddlw7p7j6hta.cloudfront.net/amazon-connect-chat-interface-client.js';
        s.async=1;
        s.id=id;
        d.getElementsByTagName('head')[0].appendChild(s);
        w[x] =  w[x] || function() { (w[x].ac = w[x].ac || []).push(arguments) };
    })(window, document, 'amazon_connect', '4c783089-3faa-4389-97f4-c85252349164');
    amazon_connect('styles', { iconType: 'CHAT', openChat: { color: '#ffffff', backgroundColor: '#123456' }, closeChat: { color: '#ffffff', backgroundColor: '#123456'} });
    amazon_connect('snippetId', 'QVFJREFIZ2ZySXd1eE1EWFNRRkRQSWFXZjRvaGxjT0xmd1pOWWViVU4vd0hnZnByS1FGcjFaRmFqUXM0eUtlQWtSWGZjQWpYQUFBQWJqQnNCZ2txaGtpRzl3MEJCd2FnWHpCZEFnRUFNRmdHQ1NxR1NJYjNEUUVIQVRBZUJnbGdoa2dCWlFNRUFTNHdFUVFNM0lneWs4OFFrLzk0ek4wVkFnRVFnQ3N3a295NmlpU3VDZlhla3NtUjlCS2xzK1V5TU12WlczRHVNcUE3SW9xOEp5NkFKZXJESVpVV1NkSi86OmRWbzhBVEtmRHJmelNacEJRR1BzMGtlYjgxYW1sVXg5Ri9wcmVEZEZaMWRMZFZodFIwNUNLcTF5OTk3ak43cXJ0L0VuOUIvR0c3WkFUeDRMQXM1d00vYXRzQTJFK04yNmtCK3FUNmFHM2R1VlZaSTRMSEJqRmU3YmJqbzZwS0xVbk05Qi9xdVNERHduSWVLWGVaV3RMRmpScWI3aThYbz0=');
    amazon_connect('supportedMessagingContentTypes', [ 'text/plain', 'text/markdown', 'application/vnd.amazonaws.connect.message.interactive', 'application/vnd.amazonaws.connect.message.interactive.response' ]);
</script>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', async () => {
        var ccpUrl = /*[[${ccpUrl}]]*/ 'defaultUrl';
        console.log("CCP URL initialized:", ccpUrl);

        const region = 'eu-central-1'; // Replace with your AWS region
        try {
            // Initialize Amazon Connect CCP (Streams)
            connect.core.initCCP(document.getElementById("containerDiv"), {
                ccpUrl: ccpUrl,
                loginPopup: true,
                softphone: {
                    allowFramedSoftphone: true
                }
            });

            console.log("CCP initialized successfully");

            // Configure ChatJS
            connect.ChatSession.setGlobalConfig({
                loggerConfig: {
                    useDefaultLogger: true,
                    level: connect.LogLevel.INFO,
                },
                region: region,
            });

        } catch (e) {
            console.error("Initialization error:", e);
        }

    });
</script>

<footer class="bg-gray-800 text-gray-300 mt-auto py-4 border-t border-gray-700">
    <div class="container mx-auto text-center">
        <p>&copy; 2025 Created by Prime Intelligence</p>
    </div>
</footer>
</body>
</html>
