<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AP-5 Project</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body class="flex flex-col min-h-screen bg-gray-900 text-gray-100 font-sans" onload="init()">
<header class="bg-gray-800 text-white p-4">
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold">AP-5 Project</h1>
    </div>
</header>
<main class="flex-grow container mx-auto mt-8 p-4">
    <section class="bg-gray-800 rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-semibold mb-4 text-blue-400">Hello! 👋</h2>
        <p class="text-gray-300 mb-4" th:text="${message}">...</p>
        <!--        <a href="#" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300">Read more</a>-->
    </section>

    <section class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="bg-gray-800 rounded-lg shadow-lg p-6">
            <h3 class="text-xl font-semibold mb-2 text-blue-400">AWS Connect</h3>
            <div id="containerDiv" style="width: 100%; height: 500px;"></div>
        </div>
    </section>
</main>
<script src="https://amazon-connect.github.io/amazon-connect-streams/release/connect-streams.js"></script>
<script th:inline="javascript">
    var ccpUrl = /*[[${ccpUrl}]]*/ 'defaultUrl';
    console.log("CCP URL:", ccpUrl);
    var containerDiv = document.getElementById("container-div");

    // initialize the streams api
    function init() {
        // initialize the ccp
        connect.core.initCCP(containerDiv, {
            ccpUrl: ccpUrl,            // REQUIRED
            loginPopup: true,               // optional, defaults to `true`
            loginPopupAutoClose: true,      // optional, defaults to `false`
            loginOptions: {                 // optional, if provided opens login in new window
                autoClose: true,              // optional, defaults to `false`
                height: 600,                  // optional, defaults to 578
                width: 400,                   // optional, defaults to 433
                top: 0,                       // optional, defaults to 0
                left: 0                       // optional, defaults to 0
            },
            region: "eu-central-1",         // REQUIRED for `CHAT`, optional otherwise
            softphone: {                    // optional, defaults below apply if not provided
                allowFramedSoftphone: true,   // optional, defaults to false
                disableRingtone: false,       // optional, defaults to false
                ringtoneUrl: "[your-ringtone-filepath].mp3", // optional, defaults to CCP’s default ringtone if a falsy value is set
                allowFramedVideoCall: true,    // optional, default to false
                allowEarlyGum: true    //optional, default to true
            },
            task: {
                disableRingtone: false, // optional, defaults to false
                ringtoneUrl: "[your-ringtone-filepath].mp3" // optional, defaults to CCP's default ringtone if a falsy value is set
            },
            pageOptions: { //optional
                enableAudioDeviceSettings: false, //optional, defaults to 'false'
                enableVideoDeviceSettings: false, //optional, defaults to 'false'
                enablePhoneTypeSettings: true //optional, defaults to 'true'
            },
            shouldAddNamespaceToLogs: false, //optional, defaults to 'false'
            ccpAckTimeout: 5000, //optional, defaults to 3000 (ms)
            ccpSynTimeout: 3000, //optional, defaults to 1000 (ms)
            ccpLoadTimeout: 10000 //optional, defaults to 5000 (ms)
        });
    }
</script>
<footer class="bg-gray-800 text-gray-300 mt-auto py-4 border-t border-gray-700">
    <div class="container mx-auto text-center">
        <p>&copy; <span th:text="${#dates.year(#dates.createNow())}">2025</span> Created by Prime Intelligence</p>
    </div>
</footer>
</body>
</html>
